vrrp_script chk_haproxy {
    script "/usr/bin/pgrep haproxy"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    state {{ keepalived_state | default('MASTER') }}
    interface {{ keepalived_interface | default('eth0') }}
    virtual_router_id {{ keepalived_virtual_router_id | default(51) }}
    priority {{ keepalived_priority_master if inventory_hostname == groups['lb'][0] else keepalived_priority_backup }}
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass | default('changeme_keepalived_pass') }}  # REPLACE: secure password (use Vault)
    }
    virtual_ipaddress {
        {%- for ip in keepalived_virtual_ipaddress | default(["10.0.0.30"]) %}
        {{ ip }}
        {%- endfor %}
    }
    track_script {
        chk_haproxy
    }
}
