<?php
$CONFIG = array (
  'instanceid' => 'oc{{ 999999 +  (ansible_date_time.epoch | int) }}',
  'passwordsalt' => 'changeme_password_salt',
  'secret' => 'changeme_long_secret',
  'trusted_domains' =>
  array (
    0 => '{{ domain_name }}',
  ),
  'datadirectory' => '/var/www/html/data',
  'dbtype' => 'pgsql',
  'version' => '{{ nextcloud_version }}',
  'dbname' => '{{ lookup("env","DB_NAME") | default("nextcloud") }}',
  'dbhost' => 'postgres_write:6432',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ lookup("env","DB_USER") | default("nc_db_user") }}',
  'dbpassword' => '{{ lookup("env","DB_PASSWORD") | default("changeme_db_password") }}',
  'redis' => array(
     'host' => 'redis',
     'port' => 6379,
     'timeout' => 0.0,
     'password' => '{{ lookup("env","REDIS_PASSWORD") | default("changeme_redis_password") }}',
  ),
  'objectstore' => array(
    'class' => '\\OC\\Files\\ObjectStore\\S3',
    'arguments' => array(
      'bucket' => '{{ lookup("env","S3_BUCKET") | default("nextcloud-data") }}',
      'key'    => '{{ lookup("env","S3_KEY") | default("changeme_s3_access_key") }}',
      'secret' => '{{ lookup("env","S3_SECRET") | default("changeme_s3_secret_key") }}',
      'hostname' => '{{ lookup("env","S3_ENDPOINT") | default("s3.example.com") }}',
      'region' => '{{ lookup("env","S3_REGION") | default("eu-central-1") }}',
      'use_ssl' => true,
      'use_path_style'=> false,
    ),
  ),
  'installed' => false,
  'overwritehost' => '{{ domain_name }}',
  'overwriteprotocol' => 'https',
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'memcache.distributed' => '\\OC\\Memcache\\Redis',
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'log_type' => 'file',
  'logfile' => '/var/www/html/data/nextcloud.log',
  'loglevel' => 2,
  'mail_smtpmode' => 'smtp',
  'mail_smtphost' => '{{ lookup("env","SMTP_HOST") | default("smtp.example.com") }}',
  'mail_smtpport' => {{ lookup("env","SMTP_PORT") | default(587) }},
  'mail_smtpauthtype' => 'LOGIN',
  'mail_smtpname' => '{{ lookup("env","SMTP_USER") | default("nc-notify@example.com") }}',
  'mail_smtppassword' => '{{ lookup("env","SMTP_PASS") | default("changeme_smtp_password") }}',
  'mail_smtpusessl' => false,
);
